# Python build
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv/
env/
venv/

# PyInstaller build
build/
dist/
*.spec

# IDE/Editor configs
.vscode/
.idea/

# System files
.DS_Store
Thumbs.db
